<div class="jumbotron text-center col-md-8">
	<h1>Rich App</h1>
	<p>{{ tagline }}</p>
	<p>{{ tagline }}</p>
	<p>{{ tagline }}</p>
	<p>{{ tagline }}</p>
</div>
<div class="col-md-4 text-center">
	<ul class="list-group">
		  <li class="list-group-item"> <h2> One </h2> </li>
		  <li class="list-group-item">Two</li>
		  <li class="list-group-item">Three</li>
		  <li class="list-group-item">Four</li>
		  <li class="list-group-item">Five</li>
	</ul>
</div>

<div> Rating is {{rating}} <br/>
  <div star-Rating rating-value="rating" max="10"></div>
</div>

<input class="col-md-6" ng-model="input"></input>
<div class="col-md-6"> {{input}} </div>

//http://www.befundoo.com/university/tutorials/angularjs-directives-tutorial/